.filter{
    display: flex;
    justify-content: space-around;
}

.multipleSelection {
    display: flex;
    width: 100%;
    margin: auto;
    margin-left: 2.5%;
}
.selectBox{
    margin-right: 1%;
}

#floatingSelect option{
    width: 100%;
}

#checkBoxes {
    display: none;
}

#checkBoxes label {
    font-size: 0.8em;
    white-space: nowrap;
}

.form-check-input{
    margin: auto 5% auto 0%;
    width: 1.3em;
}

.checkbox-group{
    display: flex;
    width: fit-content;
    margin: auto 4% auto 0%;
}

.new-participant-pop-up, .add-mentor-pop-up{
    width: 40rem;
    height: 27rem;
    position: absolute;
    top: 20vh;
    bottom: 25vh;
    left: 20vw;
    right: 20vw;
    background-color: rgb(248, 249, 250);
    display: none;
}
.add-mentor-pop-up{
    width: 30rem;
    height: 15rem;
    top: 25vh;
    bottom: 25vh;
    left: 30vw;
    right: 30vw;
    display: block;
}
.exit-pop-up-button{
    display: flex;
    margin: 0% 0% 0% auto;
}
.pop-up-title{
    text-align: center;
}
.form{
    padding: 3% 10%;
}
.input-group{
    padding: 2% 0%;
}
.new-participant-button, .add-mentor-button, .add-capstone-button, .add-elective-button, .add-tardy-button, .add-absense-button, .add-note-button, .add-probation-button, .add-meeting-button{
    margin: 5% auto 1% auto;
    display: flex;
}
.add-capstone-pop-up{
    width: 30rem;
    height: 17rem;
    position: absolute;
    top: 25vh;
    bottom: 25vh;
    left: 30vw;
    right: 30vw;
    background-color: rgb(248, 249, 250);
}
.add-elective-pop-up{
    width: 25rem;
    height: 15rem;
    position: absolute;
    top: 25vh;
    bottom: 25vh;
    left: 35vw;
    right: 35vw;
    background-color: rgb(248, 249, 250);
}
.add-tardy-pop-up{
    width: 25rem;
    height: 15rem;
    position: absolute;
    top: 25vh;
    bottom: 25vh;
    left: 35vw;
    right: 35vw;
    background-color: rgb(248, 249, 250);
}
.add-absense-pop-up{
    width: 25rem;
    height: 15rem;
    position: absolute;
    top: 25vh;
    bottom: 25vh;
    left: 35vw;
    right: 35vw;
    background-color: rgb(248, 249, 250);
}
.add-note-pop-up{
    width: 25rem;
    height: 18rem;
    position: absolute;
    top: 25vh;
    bottom: 25vh;
    left: 35vw;
    right: 35vw;
    background-color: rgb(248, 249, 250);
}
.add-meeting-pop-up{
    width: 25rem;
    height: 15rem;
    position: absolute;
    top: 25vh;
    bottom: 25vh;
    left: 35vw;
    right: 35vw;
    background-color: rgb(248, 249, 250);
}

.add-probation-pop-up{
    width: 25rem;
    height: 15rem;
    position: absolute;
    top: 25vh;
    bottom: 25vh;
    left: 35vw;
    right: 35vw;
    background-color: rgb(248, 249, 250);
}
.actions, .actions-header{
    width: 25%;
}
.side-panel{
    width: 60rem;
    /* height: 100%; */
    position: absolute;
    top: 0vh;
    /* bottom: 0vh; */
    right: 0vw;
    background-color: rgb(248, 249, 250);
    /* display: none; */
}
.side-panel-container{
    width: 90%;
    margin: auto;
    padding-top: 24px;
}
.panels{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #e9ecef;
    margin-bottom: 5%;
}
.panels button{
    width: 100%;
    font-size: 1.4rem;
}
.active-panel{
    background-color: white;
    border: solid 1px black;
    font-weight: 500;
}
.identifier-group{
    display: flex;
    justify-content: space-between;
}
.username-group, .student-id-group{
    width: 48%;
}

.name-group{
    width: 100%;
}
.label-and-edit-button{
    margin-top:1%;
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 1.1rem;
    align-items: center;
}
.label-and-edit-button button{
    font-size: 1.1rem;
}
.full-name-group{
    display: flex;
    justify-content: space-between;
}
.first-name-group, .last-name-group{
    width: 48%;
}

.side-panel .input-group{
    padding: 0%;
}
.name-group, .probation-group, .met-group, .mentor-group, .capstone-group, .elective-group{
    padding-top: 16px;
}
.side-panel-footer{
    width: 90%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    padding: 5% 0%;
}
.edit-capstone-group{
    display: flex;
}



